@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }
  .blue-heading::before {
    left: 6rem;
    width: 40rem;
  }
  .blue-heading:after {
    left: 6rem;
    width: 40rem;
  }

  .main-heading::after {
    right: 9rem;
    width: 51rem;
  }
}

/* MEDIA QUERY AT 1024PX */
@media (max-width: 64em) {
  .main-heading {
    font-size: 6rem;
  }
  h2 {
    font-size: 4.2rem;
  }

  .main-heading::after {
    right: 5rem;
    width: 47rem;
  }
  .test-testimony {
    width: 33rem;
  }
}

/* MEDIA QUERY AT 928PX */

@media (max-width: 58em) {
  .main-heading {
    font-size: 6rem;
  }
  h2 {
    font-size: 4.2rem;
  }

  .main-heading::after {
    right: 30rem;
    width: 47rem;
  }
  .test-testimony {
    width: 33rem;
  }
  /* //////////////////////////////////// */
  .mobile-btn {
    display: block;
  }
  .navigation {
    position: relative;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: red;
    padding: 2rem 3rem;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 4rem;
  }
  /* ////////////////////////////////// */
  .header-spliter {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }
  .header-right {
    justify-self: center;
    align-self: center;
  }
  .header-right-img {
    height: 50rem;
    width: 35rem;
  }
  .motivation-img {
    width: 45rem;
  }
  /* ///////////////////// */
  .testimonies {
    flex-direction: column;
    align-items: center;
  }
  .columns-testimonies {
    flex-direction: row;
  }

  .foot-right {
    gap: 5rem;
  }
  /* .foot-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
}

/* MEDIA QUERY AT 851PX */
@media (max-width: 54em) {
  .main-heading::after {
    right: 24rem;
    width: 47rem;
  }

  .motivation-img {
    width: 40rem;
  }
  .diverse-img {
    width: 40rem;
    height: 35rem;
  }
  h2 {
    font-size: 4rem;
  }
  .container {
    padding: 0 4rem;
  }
  .foot-container {
    padding-top: 4.8rem;
  }
}

/* MEDIA QUERY AT 851PX */
@media (max-width: 51em) {
  .diverse-spliter,
  .motivation-spliter {
    grid-template-columns: 1fr;
    gap: 9.6rem;
    /* margin-bottom: 18rem; */
  }
  .diverse-img {
    width: 50rem;
    height: 43rem;
  }
  .diverse-left {
    justify-self: center;
  }
  .diverse-right {
    grid-row: 1/3;
    justify-self: center;
    text-align: center;
  }
  .motive-left {
    text-align: center;
  }
  .motiv-right {
    justify-self: center;
  }
  .motivation-img {
    width: 60rem;
    height: 100%;
  }

  .foot-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* MEDIA QUERY AT 780pxPX */
@media (max-width: 49em) {
  .main-heading::after {
    right: 10rem;
    width: 47rem;
  }
}
/* MEDIA QUERY AT 729pxPX */
@media (max-width: 46em) {
  .platform-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

/* MEDIA QUERY AT 649pxPX */
@media (max-width: 41em) {
  .main-heading::after {
    right: 2rem;
    width: 47rem;
  }
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 3.6rem;
  }
  .header-left {
    padding: 0;
  }
  .columns-testimonies {
    display: block;
  }
  .test-testimony {
    width: 90%;
    margin-left: 3rem;
  }
  .testimonies {
    display: grid;
    grid-template-columns: 1fr;
  }
  .question-block {
    width: 85%;
  }
  .question {
    width: 85%;
  }
  .question-block-text {
    margin-right: 1rem;
  }
}

/* MEDIA QUERY AT 544pxPX */
@media (max-width: 34em) {
  .main-heading::after {
    right: 2rem;
    width: 47rem;
  }

  .main-heading {
    font-size: 5.4rem;
  }
  .platfrom-break,
  .working-break,
  .question-break {
    display: none;
  }
  .working-carts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4.2rem;
    justify-content: center;
  }
  .working-cart {
    justify-self: center;
    width: 30rem;
  }
  /* .motiv-heading {
    text-align: start;
  } */
  .motiv-break {
    display: block;
  }
  .motivation-img {
    width: 45rem;
  }
  .diverse-img {
    width: 40rem;
    height: 35rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .main-heading {
    font-size: 4.4rem;
  }
  .foot-right {
    display: flex;
    flex-direction: column;
  }
  .foot-spliter {
    justify-content: space-around;
  }
  .last-text {
    font-size: 1.4rem;
    gap: 3rem;
  }
  /* ///////////// */
  .blue-heading::before {
    left: 6rem;
    width: 30rem;
  }
  .blue-heading:after {
    left: 6rem;
    width: 30rem;
  }

  .main-heading::after {
    right: 2rem;
    width: 40rem;
  }
  .header-right-img {
    height: 43rem;
    width: 28rem;
  }
  .container {
    padding: 0 2rem;
  }
  .foot-container {
    padding-top: 4.8rem;
  }
}

/* MEDIA QUERY AT 459pxPX */
@media (max-width: 29em) {
  .platform-logos {
    grid-template-columns: 1fr;
  }
  .Knowledge-break,
  .motivation-break {
    display: none;
  }
  .motivation-img {
    width: 38rem;
  }
  .diverse-img {
    width: 36rem;
    height: 32rem;
  }
  .question-block-text {
    margin-right: 0.5rem;
  }
  .join-break,
  .head-break {
    display: none;
  }

  .blue-heading::before {
    left: 6rem;
    width: 25rem;
  }
  .blue-heading:after {
    left: 6rem;
    width: 25rem;
  }

  .main-heading::after {
    right: 2rem;
    width: 33rem;
  }
  .head-btns,
  .join-btns {
    display: grid;
    grid-template-columns: 1fr;
    /* width: 20rem; */
    justify-content: center;
    gap: 3rem;
  }
  .head-btn-1,
  .head-btn-2 {
    justify-self: center;
    width: 20rem;
  }
  .foot-spliter {
    gap: 3rem;
  }
}

/* 370px */
@media (max-width: 23em) {
  .motiv-quote {
    width: 30rem;

    transform: translate(0%, 50%);
  }
  .motivation-img {
    width: 35rem;
  }
  .diverse-img {
    width: 33rem;
    height: 29rem;
  }
}
/* 319px */
@media (max-width: 20em) {
  .motiv-quote {
    width: 27rem;
  }
  .motivation-img {
    width: 32rem;
  }
  .diverse-img {
    width: 30rem;
    height: 26rem;
  }
  .main-heading {
    font-size: 4.2rem;
  }
  .blue-heading::before {
    left: 6rem;
    width: 23rem;
  }
  .blue-heading:after {
    left: 6rem;
    width: 23rem;
  }

  .main-heading::after {
    right: 0;
    width: 33rem;
  }
}
